<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/main.js"></script>
</head>

<body style="font-size: 12px;">
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered table-hover .table-condensed">
                <thead>
                    <tr>
                        <td style="text-align: center;"><input type="checkbox" id="selectA" onclick="selectAll();" checked></td>
                        <td>#</td>
                        <td>昵称</td>
                        <td>游戏</td>
                        <td>系统</td>
                        <td>机型</td>
                        <td>省份</td>
                        <td>城市</td>
                        <td>性别</td>
                        <td>注册(2018)</td>
                        <td>登录(2018)</td>
                        <td>录入</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list[:count // 2] %}
                        <tr {% if user.status %} class="success" {% endif %}>
                            <th scope="row" style="text-align: center;" width="40px"><input type="checkbox" name="box" value="{{ user.uid }}" checked style="zoom: 100%;"></th>
                            <!-- <td width="40px" style="text-align: center;">{{ user.id }}</td> -->
                            <td style="padding: 0; margin: 0;" width="35px"><img src="{{ user.avatar }}" width="35px" height="35px"></td>
                            <td width="220px">{{ user.nickname }}</td>
                            <td width="50px">{{ user.chn }}</td>
                            <!-- <td width="80px">{{ user.version }}</td> -->
                            <td width="50px">{{ user.platform }}</td>
                            <td width="110px">{{ user.model }}</td>
                            <td width="60px">{{ user.province }}</td>
                            <td width="80px">{{ user.city }}</td>
                            <td width="50px" style="text-align: center;">{{ user.gender }}</td>
                            <td width="90px">{{ user.create_time }}</td>
                            <td width="90px">{{ user.login_time }}</td>
                            <td width="50px" style="text-align: center;">{% if user.status %} <span class="label label-success">√</span>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-6">
            <table class="table table-bordered table-hover .table-condensed">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>#</td>
                        <td>昵称</td>
                        <td>游戏</td>
                        <td>系统</td>
                        <td>机型</td>
                        <td>省份</td>
                        <td>城市</td>
                        <td>性别</td>
                        <td>注册(2018)</td>
                        <td>登录(2018)</td>
                        <td>录入</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list[count // 2:] %}
                        <tr {% if user.status %} class="success" {% endif %}>
                            <th scope="row" style="text-align: center;" width="40px"><input type="checkbox" value="{{ user.uid }}" name="box" checked style="zoom: 100%;"></th>
                            <!-- <td width="40px" style="text-align: center;">{{ user.id }}</td> -->
                            <td style="padding: 0; margin: 0;" width="35px"><img src="{{ user.avatar }}" width="35px" height="35px"></td>
                            <td width="220px">{{ user.nickname }}</td>
                            <td width="50px">{{ user.chn }}</td>
                            <!-- <td width="80px">{{ user.version }}</td> -->
                            <td width="50px">{{ user.platform }}</td>
                            <td width="110px">{{ user.model }}</td>
                            <td width="60px">{{ user.province }}</td>
                            <td width="80px">{{ user.city }}</td>
                            <td width="50px" style="text-align: center;">{{ user.gender }}</td>
                            <td width="90px">{{ user.create_time }}</td>
                            <td width="90px">{{ user.login_time }}</td>
                            <td width="50px" style="text-align: center;">{% if user.status %} <span class="label label-success">√</span>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-10">
            <ul class="pagination" style="margin: 0 20px;">
                <!-- <li><a href="#">&laquo;</a></li> -->
                {% for i in range(1, total_page + 1) %}
                    <li><a href="/{{ i }}" {% if current_page == i %}style="background-color: #204d74; font-weight: bold; color: white;"{% endif %}>{{ i }}</a></li>
                {% endfor %}
                <!-- <li><a href="#">&raquo;</a></li> -->
            </ul>
        </div>
        <div class="col-xs-2" style="padding: 0;">
            <button id="cancelUser" type="submit" class="btn btn-danger" style="margin-right: 10px;" onclick="saveUsers(0)">还原</button>
            <button id="selectUser" type="submit" class="btn btn-success" style="margin-right: 10px;" onclick="saveUsers()">录入</button>
            <button class="btn btn-success"><a href="/0">点击查看已录入: {{ saved_users }}</a></button>
            <div style="padding: 10px 40px 0 0; color: red;">必须在当页点击录入才生效, 直接点击下一页, 上一页的勾选会无效</div>
        </div>
    </div>
</body>

</html>