<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
    <table class="table table-bordered table-hover"">
        <thead>
            <tr>
                <th>#</th>
                <td>图片</td>
                <td>地址</td>
                <td>id</td>
                <td>ip</td>
                <td>what</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>122</td>
                <td>122</td>
                <td>122</td>
                <td>122</td>
                <td>122</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                    <td>122</td>
                    <td>122</td>
                    <td>122</td>
                    <td>122</td>
                    <td>122</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>122</td>
                <td>122</td>
                <td>122</td>
                <td>122</td>
                <td>122</td>
            </tr>
        </tbody>

    </table>
    <button type="还原" class="btn btn-default" style="float: right; margin-right: 30px;">Submit</button>
    <button type="录入" class="btn btn-default" style="float: right; margin-right: 30px;">Submit</button>
</body>

</html>